* {
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
}

@media (min-width: 576px) and (max-width: 766px) {
  body .titulo .row {
    height: 26vh;
  }
  body .titulo .row .col {
    background-image: url("https://64.media.tumblr.com/1ba63ada6a8018f0ad7990a76a23d2ed/411321c929cceaf9-a7/s1280x1920/c880ea63e3632666d54f26e91c7693cd991bf862.jpg") !important;
    background-size: cover;
  }
  body .titulo .row .col .navbar div #navbarNav ul .botones {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: black;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
  }
  body .titulo .row .col .navbar div #navbarNav ul .botones .as {
    text-transform: uppercase;
    text-shadow: 2px 2px 2px black;
    color: rgb(229, 237, 243);
    text-align: center;
  }
  body .titulo .row .col h1 {
    font-family: "Koulen", cursive;
    font-size: 82px !important;
    text-align: center;
    color: black;
  }
  body .footer .row .col {
    background-color: black;
  }
  body .footer .row .col p {
    color: white;
  }
  .index .reserva .row div h3 {
    font-family: "macondo";
    font-size: 30px;
    color: azure;
    margin: 10px;
  }
  .index .bienvenidos .row .col p {
    font-size: 22px;
    margin: 30px;
  }
  .index .a .row div h3 {
    font-family: "macondo";
    font-size: 30px;
    color: azure;
    margin: 10px;
  }
  .index .ofrecemos .row {
    display: grid;
    grid-template-areas: "titulo" "imagen";
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
  }
  .index .ofrecemos .row .imagen {
    grid-area: imagen;
  }
  .index .ofrecemos .row .imagen img {
    width: 250px !important;
  }
  .index .ofrecemos .row .titulo {
    grid-area: titulo;
  }
  .index .ofrecemos .row .titulo h3 {
    font-family: "macondo";
    font-size: 26px;
    color: azure;
    margin: 10px;
  }
  .nosotros .foto-texto .row div p {
    margin: 60px;
    line-height: 2;
  }
  .nosotros .foto-texto .row div img {
    padding: 40px;
  }
  .nosotros .carrusel .row div .carousel {
    padding: 40px;
  }
  .nosotros .contamos .row div h2 {
    font-family: "macondo";
    font-size: 26px;
    color: azure;
    margin: 10px;
  }
  .nosotros .servicios .row .iconos span {
    font-size: 40px;
    margin: 10px 10px 10px 0px;
  }
  .nosotros .servicios .row .iconos p {
    margin-right: 10px;
  }
  .menu .platos .row div h3 {
    font-family: "macondo";
    font-size: 26px;
    color: azure;
    margin: 10px;
  }
  .menu .container-fluid .row .lista p {
    padding: 20px;
  }
  .menu .container-fluid .row .fotos {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu .container-fluid .row .fotos img {
    width: 230px;
    padding: 10px;
    border-radius: 12px;
  }
  .menu .beber .row div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu .beber .row div p {
    padding: 20px;
  }
  .menu .beber .row div img {
    width: 300px;
    border-radius: 12px;
  }
  .contacto .reserva .row div h3 {
    font-family: "macondo";
    font-size: 26px;
    color: azure;
    margin: 10px;
  }
  .contacto .llamada .row .form {
    padding: 50px;
  }
  .contacto .llamada .row .numero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
  }
  .contacto .busca .row div h3 {
    font-family: "macondo";
    font-size: 26px;
    color: azure;
    margin: 10px;
  }
  .contacto .iconos .row div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contacto .iconos .row div img {
    width: 100px;
    margin: 20px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .index .reserva .row div {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .index .reserva .row div h3 {
    font-family: "Macondo";
    font-size: 30px;
    color: azure;
    margin: 15px;
  }
  .index .bienvenidos .row .col {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .index .bienvenidos .row .col p {
    margin-right: 145px;
    margin-left: 145px;
    font-size: 25px;
    color: azure;
  }
  .index .a .row .col {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .index .a .row .col h3 {
    font-family: "Macondo";
    font-size: 30px;
    color: azure;
    margin: 15px;
  }
  .index .ofrecemos .row .titulo h3 {
    font-family: "Macondo";
    font-size: 30px;
    color: azure;
    margin: 15px;
  }
  .index .ofrecemos .row .imagen {
    background-size: cover;
    background-image: url("https://64.media.tumblr.com/7612f35c05b066d82e14672530e7248f/411321c929cceaf9-aa/s2048x3072/e2c6c09bed65b82fc4eb0b82cf6a31e14ee0acef.jpg");
  }
  .index .ofrecemos .row .imagen img {
    margin: 18px 0px 18px 0px;
  }
  .index .ofrecemos .row .a2 {
    background-size: cover;
    background-image: url("https://64.media.tumblr.com/db2a442e22e46bd403140ed93a77a7bf/411321c929cceaf9-3e/s1280x1920/9d166363de947e3d1fb546a002d6b3cae68ddeef.jpg");
  }
  .index .ofrecemos .row .a3 {
    background-size: cover;
    background-image: url("https://64.media.tumblr.com/8f31dc22606124dcab6e4ae73302f571/411321c929cceaf9-90/s1280x1920/568f05481fd8dbe134e5e4b53ae41e9f0ef5fcf8.jpg");
  }
  .index .ofrecemos .row .a4 {
    background-size: cover;
    background-image: url("https://64.media.tumblr.com/9877eb41cbe33bcdd05a6fbd6d828b97/411321c929cceaf9-4b/s1280x1920/16bca24cce60c0015d398f190daf70746a2b1318.jpg");
  }
  .index .ofrecemos .row .a5 {
    background-size: cover;
    background-image: url("https://64.media.tumblr.com/21ad837509427ef09756d2707c03a4ca/411321c929cceaf9-fd/s1280x1920/b17de28499ffbe45c61b5d55ad49150a9f9f4dc5.pnj");
  }
  .index .ofrecemos .row .a6 {
    background-size: cover;
    background-image: url("https://64.media.tumblr.com/37e8727f064fae791dc00abcdf147774/411321c929cceaf9-53/s2048x3072/d22bd8ec8cc3e2b687d9652c267cd2d94924ada2.jpg");
  }
  .nosotros .foto-texto .row div {
    margin: 90px 0px 60px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nosotros .foto-texto .row div p {
    font-size: 18px;
    padding-left: 20px;
    padding-right: 10px;
  }
  .nosotros .foto-texto .row div img {
    padding: 30px;
  }
  .nosotros .carrusel .row div .carousel {
    padding: 100px;
  }
  .nosotros .contamos .row div h2 {
    font-family: "Macondo";
    font-size: 30px;
    color: azure;
    margin: 15px;
  }
  .nosotros .servicios .row .iconos {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px 20px 0px;
  }
  .nosotros .servicios .row .iconos span {
    font-size: 60px;
    margin-left: 20px;
  }
  .nosotros .servicios .row .iconos p {
    margin-right: 30px;
    margin-left: 10px;
  }
  .nosotros .servicios .row .iconos img {
    width: 50px !important;
    margin-left: 20px;
    margin-right: 24px;
  }
  .menu .platos .row div {
    margin: 18px 0px 18px 0px;
  }
  .menu .platos .row div h3 {
    font-family: "Macondo";
    font-size: 30px;
    color: azure;
    margin: 15px;
  }
  .menu .container-fluid .row .lista {
    padding: 20px;
  }
  .menu .container-fluid .row .fotos img {
    margin: 90px 0px 60px 0px;
  }
  .menu .beber .row div p {
    padding: 20px;
  }
  .contacto .reserva .row div {
    margin: 18px 0px 18px 0px;
  }
  .contacto .reserva .row div h3 {
    font-family: "Macondo";
    font-size: 30px;
    color: azure;
    margin: 15px;
  }
  .contacto .llamada .row div form {
    margin: 8px;
  }
  .contacto .llamada .row .numero p {
    margin-top: 50px;
  }
  .contacto .busca .row div {
    margin: 18px 0px 18px 0px;
  }
  .contacto .busca .row div h3 {
    font-family: "Macondo";
    font-size: 30px;
    color: azure;
    margin: 15px;
  }
  .contacto .iconos .row div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contacto .iconos .row div img {
    width: 180px;
    margin: 20px;
  }
}
@media (min-width: 993px) {
  body .navbar div #navbarNav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body .navbar div #navbarNav ul .botones {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(124, 36, 36);
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
  }
  body .navbar div #navbarNav ul .botones .as {
    text-transform: uppercase;
    text-shadow: 2px 2px 2px black;
    color: rgb(229, 237, 243);
  }
  .index .reserva .row div {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .index .reserva .row div h3 {
    font-family: "Macondo";
    font-size: 30px;
    color: azure;
    margin: 20px;
  }
  .index .bienvenidos .row .col {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .index .bienvenidos .row .col p {
    margin-right: 145px;
    margin-left: 145px;
    font-size: 25px;
    color: azure;
  }
  .index .a .row .col {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .index .a .row .col h3 {
    font-family: "Macondo";
    font-size: 30px;
    color: azure;
    margin: 20px;
  }
  .index .ofrecemos .row .titulo h3 {
    font-family: "Macondo";
    font-size: 30px;
    color: azure;
    margin: 20px;
  }
  .index .ofrecemos .row .a1, .index .ofrecemos .row .a6, .index .ofrecemos .row .a5, .index .ofrecemos .row .a4, .index .ofrecemos .row .a3, .index .ofrecemos .row .a2 {
    background-size: cover;
    background-image: url("https://64.media.tumblr.com/7612f35c05b066d82e14672530e7248f/411321c929cceaf9-aa/s2048x3072/e2c6c09bed65b82fc4eb0b82cf6a31e14ee0acef.jpg");
  }
  .index .ofrecemos .row .a1 img, .index .ofrecemos .row .a6 img, .index .ofrecemos .row .a5 img, .index .ofrecemos .row .a4 img, .index .ofrecemos .row .a3 img, .index .ofrecemos .row .a2 img {
    margin: 20px 0px 20px 0px;
  }
  .index .ofrecemos .row .a2 {
    background-image: url("https://64.media.tumblr.com/db2a442e22e46bd403140ed93a77a7bf/411321c929cceaf9-3e/s1280x1920/9d166363de947e3d1fb546a002d6b3cae68ddeef.jpg");
  }
  .index .ofrecemos .row .a3 {
    background-image: url("https://64.media.tumblr.com/8f31dc22606124dcab6e4ae73302f571/411321c929cceaf9-90/s1280x1920/568f05481fd8dbe134e5e4b53ae41e9f0ef5fcf8.jpg");
  }
  .index .ofrecemos .row .a4 {
    background-image: url("https://64.media.tumblr.com/9877eb41cbe33bcdd05a6fbd6d828b97/411321c929cceaf9-4b/s1280x1920/16bca24cce60c0015d398f190daf70746a2b1318.jpg");
  }
  .index .ofrecemos .row .a5 {
    background-image: url("https://64.media.tumblr.com/9877eb41cbe33bcdd05a6fbd6d828b97/411321c929cceaf9-4b/s1280x1920/16bca24cce60c0015d398f190daf70746a2b1318.jpg");
  }
  .index .ofrecemos .row .a6 {
    background-image: url("https://64.media.tumblr.com/37e8727f064fae791dc00abcdf147774/411321c929cceaf9-53/s2048x3072/d22bd8ec8cc3e2b687d9652c267cd2d94924ada2.jpg");
  }
  .nosotros .foto-texto .row div {
    margin: 60px 0px 60px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nosotros .foto-texto .row div p {
    font-size: 23px;
    padding-left: 20px;
    padding-right: 10px;
  }
  .nosotros .foto-texto .row div img {
    padding-right: 50px;
    padding-left: 50px;
  }
  .nosotros .carrusel .row div .carousel {
    padding: 100px;
  }
  .nosotros .contamos .row div h2 {
    font-family: "Macondo";
    font-size: 30px;
    color: azure;
    margin: 20px;
  }
  .nosotros .servicios .row .iconos {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px 20px 0px;
  }
  .nosotros .servicios .row .iconos span {
    font-size: 60px;
    margin-left: 20px;
  }
  .nosotros .servicios .row .iconos p {
    margin-right: 30px;
    margin-left: 10px;
  }
  .nosotros .servicios .row .iconos img {
    width: 50px !important;
    margin-left: 20px;
    margin-right: 24px;
  }
  .menu .platos .row div {
    margin: 20px 0px 20px 0px;
  }
  .menu .platos .row div h3 {
    font-family: "Macondo";
    font-size: 30px;
    color: azure;
    margin: 20px;
  }
  .menu .container-fluid .row .lista {
    padding: 20px;
  }
  .menu .container-fluid .row .fotos img {
    margin: 20px 0px 20px 0px;
  }
  .menu .beber .row div p {
    padding: 20px;
  }
  .contacto .reserva .row div {
    margin: 20px 0px 20px 0px;
  }
  .contacto .reserva .row div h3 {
    font-family: "Macondo";
    font-size: 30px;
    color: azure;
    margin: 20px;
  }
  .contacto .llamada .row div form {
    margin: 30px;
  }
  .contacto .busca .row div {
    margin: 20px 0px 20px 0px;
  }
  .contacto .busca .row div h3 {
    font-family: "Macondo";
    font-size: 30px;
    color: azure;
    margin: 20px;
  }
  .contacto .iconos .row div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contacto .iconos .row div img {
    width: 200px;
    margin: 20px;
  }
}
body .titulo .row .col {
  background-image: url("https://64.media.tumblr.com/1ba63ada6a8018f0ad7990a76a23d2ed/411321c929cceaf9-a7/s1280x1920/c880ea63e3632666d54f26e91c7693cd991bf862.jpg") !important;
  background-size: cover;
}
body .titulo .row .col .navbar div #navbarNav ul .botones {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: black;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10px;
}
body .titulo .row .col .navbar div #navbarNav ul .botones .as {
  text-transform: uppercase;
  text-shadow: 2px 2px 2px black;
  color: rgb(229, 237, 243);
  font-weight: 400;
}
body .titulo .row .col h1 {
  animation: text-flicker-in-glow 2s linear infinite both;
  font-family: "Koulen", cursive;
  font-size: 120px;
  text-align: center;
  color: black;
}
@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(204, 14, 14, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(64, 209, 31, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}
body .footer .row .col {
  background-color: black;
}
body .footer .row .col p {
  color: white;
  margin-top: 50px;
  margin-bottom: 50px;
}

.index .reserva {
  background-color: #474973;
}
.index .reserva .row div h3 {
  color: azure;
  -webkit-animation: tracking-in-contract 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
.index .bienvenidos {
  background-color: #0d0c1d;
}
.index .bienvenidos .row .col h2 {
  color: azure;
}
.index .bienvenidos .row .col p {
  color: azure;
}
.index .a {
  background-color: #474973;
}
.index .ofrecemos .row .titulo {
  background-color: #161b33;
  display: flex;
  align-items: center;
  justify-content: center;
}
.index .ofrecemos .row .titulo h3 {
  color: azure;
}
.index .ofrecemos .row .imagen {
  background-color: #a69cac;
}
.index .ofrecemos .row .imagen img {
  border-radius: 20px;
  width: 400px;
}

.nosotros .foto-texto {
  background-color: #0d0c1d;
}
.nosotros .foto-texto .row div p {
  color: azure;
}
.nosotros .carrusel {
  background-color: #161b33;
}
.nosotros .contamos {
  background-color: #474973;
}
.nosotros .contamos .row div h2 {
  color: azure;
  -webkit-animation: tracking-in-contract 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
.nosotros .servicios {
  background-color: #a69cac;
}
.nosotros .servicios .row .iconos {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nosotros .servicios .row .iconos span {
  -webkit-animation: shake-horizontal 2.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;
  animation: shake-horizontal 2.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;
}
@-webkit-keyframes shake-horizontal {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%, 30%, 50%, 70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%, 40%, 60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%, 30%, 50%, 70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%, 40%, 60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}

.menu .platos {
  background-color: #474973;
}
.menu .platos h3 {
  color: azure;
  -webkit-animation: tracking-in-contract 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
.menu .container-fluid .row .a {
  background-color: #0d0c1d;
}
.menu .container-fluid .row .a p {
  color: azure;
}
.menu .container-fluid .row .b {
  background-color: #161b33;
}
.menu .container-fluid .row .b p {
  color: azure;
}
.menu .container-fluid .row .lista {
  background-color: #0d0c1d;
}
.menu .container-fluid .row .lista p {
  color: azure;
}
.menu .container-fluid .row .fotos {
  background-color: #161b33;
}

.contacto .reserva {
  background-color: #474973;
}
.contacto .reserva h3 {
  color: azure;
  color: azure;
  -webkit-animation: tracking-in-contract 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
.contacto .llamada .form {
  background-color: #161b33;
}
.contacto .llamada .form label {
  color: azure;
}
.contacto .llamada .numero {
  background-color: #0d0c1d;
}
.contacto .llamada .numero p {
  color: azure;
}
.contacto .busca {
  background-color: #474973;
}
.contacto .busca h3 {
  color: azure;
  -webkit-animation: tracking-in-contract 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
.contacto .iconos {
  background-color: #a69cac;
}
.contacto .iconos .row .contact img {
  -webkit-animation: heartbeat 2.5s ease-in-out infinite both;
  animation: heartbeat 2.5s ease-in-out infinite both;
}
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

/*# sourceMappingURL=destino.css.map */
