@media(min-width:576px) and (max-width:766px){
    //general
    @mixin h2($font , $size , $color, $margin){
        font-family: $font;
        font-size: $size;
        color: $color;
        margin:$margin;
    }
    @mixin flex-center-center{
        display: flex;
        align-items: center; 
        justify-content: center;
    }
    $icons-margin-t-b:10px 10px 10px 0px;
    body {
        .titulo {
            .row {
                height: 26vh;
                .col {
                    background-image: url("https://64.media.tumblr.com/1ba63ada6a8018f0ad7990a76a23d2ed/411321c929cceaf9-a7/s1280x1920/c880ea63e3632666d54f26e91c7693cd991bf862.jpg") !important;
                    background-size: cover;
                    .navbar {
                        div {
                            .navbar-toggle{
                                span{
                                    
                                }
                            }
                            #navbarNav {                              
                                ul {
                                    .botones{
                                        padding-right: 10px;
                                        padding-left: 10px;
                                        padding-top: 5px;
                                        padding-bottom: 5px;
                                        background-color: black;
                                        margin-left: 5px;
                                        margin-right: 5px;
                                        border-radius: 10px;
                
                                        .as{
                                            text-transform: uppercase;
                                            text-shadow: 2px 2px 2px black;
                                            color: rgb(229, 237, 243);
                                            text-align: center;
                                        }
                                    }             
                                }
                            }
                        }
                    }
                    h1 {
                        font-family: 'Koulen', cursive;
                        font-size: 82px !important;
                        text-align: center;
                        color: black;
                    }
                }
            }
        }   
        .footer {
            .row {
                .col-4 {
                    background-color: black;
                    p {
                        color: rgb(240, 232, 232);
                        font-size: 10px;                    }
                }
            }
        }
    }
    //INDEX
    .index{
        .reserva{
            .row{
                div{
                    h3{
                       @include h2 ('macondo', 30px, azure, 10px) 
                    }
                }
            }
        }
        .bienvenidos{
            .row{
                .col{
                    p{
                        font-size: 22px;
                        margin: 30px;
                    }
                }
            }
        }
        .a{
            .row{
                div{
                    h3{
                        @include h2 ('macondo', 30px, azure, 10px)

                    }
                }
            }
        }
        .ofrecemos{
            .row{
                
                display: grid;
                grid-template-areas: 
                "titulo"
                "imagen";    
                grid-template-columns: 100%;
                grid-template-rows: 10% 90%;        
                .imagen{
                    grid-area: imagen;
                    
                    img{
                        width: 250px !important;
                        
                    }
                }
                .titulo{
                    grid-area: titulo;
                    h3{
                        @include h2 ('macondo', 26px, azure, 10px)

                    }
                }
            }
        }
    }
    //NOSOTROS
    .nosotros{
        .foto-texto{
            .row{
                div{
                    p{
                        margin: 60px;
                        line-height: 2;
                    }
                    img{
                        padding: 40px;
                    }
                }
            }
        }
        .carrusel{
            .row{
                div{
                    .carousel{
                        padding: 40px;
                    }
                }
            }
        }
        .contamos{
            .row{
                div{
                    h2{
                        @include h2 ('macondo', 26px, azure, 10px)
                    }
                }
            }
        }
        .servicios{
            .row{
                .iconos{
                    span{
                        font-size: 40px;
                        margin: $icons-margin-t-b;
                    }
                    p{
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    //MENU
    .menu{
        .platos{
            .row{
                div{
                    h3{
                        @include h2 ('macondo', 26px, azure, 10px)
                    }
                }
            }
        }
        .container-fluid{
            .row{
                .lista{
                    p{
                        padding: 20px;
                    } 
                }
                .fotos{
                    @include flex-center-center;
                    img{
                        width: 230px;
                        padding: 10px;
                        border-radius: 12px;
                    }
                }
            }
        }
        .beber{
            .row{
                div{
                    @include flex-center-center;
                    p{
                        padding: 20px;

                    }
                    img{
                        width: 300px;
                        border-radius: 12px;
                    }
                }
            }
        }

    }
    //CONTACTO
    .contacto{
        .reserva{
            .row{
                div{
                    h3{
                        @include h2 ('macondo', 26px, azure, 10px)
                    }
                }
            }
        }
        .llamada{
            .row{
                .form{
                    padding: 50px;
                }
                .numero{
                    @include flex-center-center;
                    padding: 40px;
                }
            }

        }
        .busca{
            .row{
                div{
                    h3{
                        @include h2 ('macondo', 26px, azure, 10px)
                    }
                }
            }
        }
        .iconos{
            .row{
                div{
                    display: flex;
                    align-items: center; 
                    justify-content: center;
                    img{
                        width: 100px;
                        margin: 20px;
                    }
                }
            }
        }
    }
}
