* {
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
}

@import "mediasmartphones";
@import "mediatablets";
@import "mediapantallas";


//general
body {
    .titulo {
        .row {           
            .col {
                //navbar
                .navbar {
                    div {
                        #navbarNav {
                            ul {
                                .botones{
                                    padding-right: 10px;
                                    padding-left: 10px;
                                    padding-top: 5px;
                                    padding-bottom: 5px;
                                    background-color: black;
                                    margin-left: 5px;
                                    margin-right: 5px;
                                    border-radius: 10px;
           
                                    .as{
                                        text-transform: uppercase;
                                        text-shadow: 2px 2px 2px black;
                                        color: rgb(229, 237, 243);
                                        font-weight: 400;
                                    }
                                }
           
                            }
                        }
                    }
                }
                
                background-image: url("https://64.media.tumblr.com/1ba63ada6a8018f0ad7990a76a23d2ed/411321c929cceaf9-a7/s1280x1920/c880ea63e3632666d54f26e91c7693cd991bf862.jpg") !important;
                background-size: cover;

                h1 {
                    font-family: 'Koulen', cursive;
                    font-size: 120px;
                    text-align: center;
                    color: black;
                }
            }
        }
    }

    .footer {
        .row {
            .col {
                background-color: black;
                p {
                    color: white;
                    margin-top: 50px;
                    margin-bottom: 50px;
                }
            }
        }
    }

}

//index
.index {
    .reserva{
        background-color: #474973;
        .row{
            div{
                h3{
                    color: azure;
                }
                 
            }
        }
    }
    .bienvenidos{
        background-color: #0d0c1d;
        .row{
            .col{
                h2{
                    color: azure;

                }
                p{
                    color: azure;

                }
            }
        }
    }
    .a{
        background-color: #474973;
    }
    .ofrecemos {
        .row {
            .titulo {
                background-color: #161b33;
                display: flex;
                align-items: center; 
                justify-content: center;
                h3 { 
                    color: azure;                   
                }
            }
            .imagen {
                // background-color: #a69cac;
                img {
                    border-radius: 20px;
                    width: 400px;
                }
            }
        }

    }

}
//nosotros
.nosotros {
    .foto-texto{
        background-color: #0d0c1d;
        .row{
            div{
                p{
                    color: azure;
                }
            }
        }
    }
    .carrusel{
        background-color: #161b33;
        .row{
            div{
                .carousel-inner{

                }
            }
        }
    }
    .contamos{
        background-color: #474973;

    }
    .servicios {
        background-color: #a69cac;
        .row {
            .iconos {
                display: flex;
                align-items: center;
                justify-content: center;

            }
        }
    }
}
//menu
.menu{
    .platos{
        background-color: #474973;
        h3{
            color: azure;
        }

    }
    .container-fluid{
        .row{
            .a{
                background-color: #0d0c1d;
                p{
                    color: azure;
                }
            }
            .b{
                background-color: #161b33;
                p{
                    color: azure;
                }
            }
            .lista{
                background-color: #0d0c1d;
                p{
                    color: azure;
                }

            }
            .fotos{
                background-color: #161b33;

            }
        }
    }
}
//contato
.contacto{
    .reserva{
        background-color: #474973 ;
        h3{
            color: azure;
        }

    }
    .llamada{
        .form{
            background-color: #161b33;
            label{
                color: azure;

            }

        }
        .numero{
            background-color: #0d0c1d;
            p{
                color: azure;
            }

        }

    }
    .busca{
        background-color: #474973 ;
        h3{
            color: azure;
        }

    }
    .iconos{
        background-color: #a69cac;

    }

}


